<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>

<#  for (int i =0; i<10; i++) #>
<#{
     
#>

    目前時間:<#= DateTime.Now.ToString()#>
<#   }   #>